* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  color: #fff;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #aad4cf;
  position: absolute;
  border-radius: 0em; 
  box-sizing: border-box;
  border: 5px #aad4cf;
  overflow: hidden;
}

#hero-banner {
  background-image: url(../midterm-assets/lone-starfish-wide.jpg);
  width: 1200px;
  height: 900px;
  background-position: center;
  padding-block-start: 10px;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left:  10px;
}

h1 {
  text-align: center;
  font-size: 7rem;
  font-family: sans-serif;
  color: white;
  padding-block-start: 250px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color: black;
  text-align: right;
  padding: 0px 0px ;
  text-decoration: none;
  font-size: 17px;
}

nav > ul {
  color: black;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content:right;
  padding-block-end: 20px;
  list-style: none;
}

#starfish {
  background-color: #aad4cf;
}
