* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  margin: auto;
}

.wrapper {
  margin: auto;
  box-sizing: border-box;
  padding: 60px 60px;
}

header {
  background-color: #aad4cf;
  margin: auto;
}

#hero-banner {
  background-image: url(/midterm/midterm-assets/lone-starfish-wide.jpg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}
  

h1 {
  text-align: center;
  font-size: 7rem;
  font-family: sans-serif;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  text-align: right;
  font-size: 40px;
}

nav > ul {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
}

nav ul li {
  color: black;
  padding: .25em 4.25em;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: black; 
  border-left: 2px,0px,0px,0px black;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  color: #aad4cf;
}

a:link{
  color:#aad4cf;
  text-decoration: none;
}


#starfish, #facts {
  background-color: #aad4cf;
  display: inline-block;
}

aside > img {
  width: 200px;
  float: left;
  margin-right: 2em;
}

footer {
  background-color: #aad4cf;
  margin: auto;
  padding: 60px 60px;
}
