

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  padding: 0px 0px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  box-sizing: border-box;
  background-color: #aad4cf;
}

.wrapper {
  box-sizing: border-box;
  background-color: #e2f9f7;
  padding: 10px 30px;
  margin: 50px 0px;
}

header {
  box-sizing: inline-block;
  padding: 0px 0px;
}

main {
  box-sizing: inline-block;
  padding: 20px 0px;
}

#hero-banner {
  background-image: url(/midterm/midterm-assets/lone-starfish-wide.jpg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: fill;
  padding: 25px;
  background-size: 100% 100%;
}
  

h1 {
  text-align: center;
  font-size: 7rem;
  font-family: sans-serif;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  text-align: right;
  font-size: 40px;
  background-color: #e2f9f7;
}

nav > ul {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
  padding: 0px 0px;
}

nav ul li {
  color: black;
  padding: .25em 4.25em;
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: black; 
  border-left: 2px,0px,0px,0px black;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  color: #aad4cf;
}

a:link{
  color:#aad4cf;
  text-decoration: none;
}


#starfish, #facts {
  padding: 0px 0px;
}

aside > img {
  width: 200px;
  float: left;
  margin-right: 2em;
}

footer {
  box-sizing: border-box;
  background-color: #e2f9f7;
  padding: 0px 0px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

small {
  padding: 0px 50px;
}
